@import "../../App.scss";

.header {
  height: 72px;
  padding: 0 20px;
  border-bottom: 2px solid $lightGrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .5s all ease-in;

  &__left {
    display: flex;
    align-items: center;

    &-text {
      color: #cecece;
      font-weight: 700;
      line-height: 1rem;
      margin-left: 20px;
      font-size: 24px;
    }

    &-logo {
      margin-left: 10px;

      img {
        width: 50px;
        height: 50px;

        &:hover {
          border-radius: 0;
          background-color: initial;
        }
      }
    }

    &-name {
      cursor: pointer;
      font-family: "Product Sans", Arial, sans-serif;
      font-size: 22px;
      color: gainsboro;
    }
  }

  &__right {

    &-icons {
      display: flex;
    }
  }
}

.selected-notes-header {
  background-color: rgb(38 56 84);
  transition: .5s all ease-in;
}

.settings__popup {
  position: absolute;
  right: 70px;
  z-index: 1;
  margin-top: 55px;
  background: #202124;
  box-shadow: $boxShadow;
  border-radius: 4px;
  overflow: hidden;
  padding: 6px 0;

  ul {
    li {
      cursor: pointer;
      border: 2px solid transparent;
      letter-spacing: .01428571em;
      font-family: Roboto, Arial, sans-serif;
      font-size: .875rem;
      font-weight: 400;
      line-height: 1.25rem;
      padding: 5px 10px 5px 17px;

      &.active,
      &:hover {
        background: $lightGrey;
      }
    }
  }
}

.services__popup {
  max-width: 345px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 55px;
  justify-content: space-evenly;
  position: absolute;
  right: 15px;
  z-index: 1;
  background: rgb(45, 46, 48);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 60%), 0 2px 6px 2px rgb(0 0 0 / 30%);
  border-radius: 10px;
  overflow: hidden;
  padding: 6px 0 25px;

  &-item {
    width: 100px;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
      background-color: rgb(40, 41, 45);
      cursor: pointer;
      border-radius: 10px;
    }

    a {
      img {
        background-color: initial;
        border-radius: 0;
        width: 50px;
        height: 50px;
      }
    }

    p {
      margin: -6px;
    }
  }

}
