@import "../../App.scss";

.header {
  height: 72px;
  padding: 0 20px;
  border-bottom: 2px solid $lightGrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .5s all ease-in;

  &__left {
    display: flex;
    align-items: center;

    &-text {
      color: #cecece;
      font-weight: 700;
      line-height: 1rem;
      margin-left: 20px;
      font-size: 24px;
    }

    &-logo {
      margin-left: 10px;

      img {
        width: 50px;
        height: 50px;

        &:hover {
          border-radius: 0;
          background-color: initial;
        }
      }
    }

    &-name {
      cursor: pointer;
      font-family: "Product Sans", Arial, sans-serif;
      font-size: 22px;
      color: gainsboro;
    }
  }

  &__right {

    &-icons {
      display: flex;
    }
  }
}

.selected-notes-header {
  background-color: rgb(38 56 84);
  transition: .5s all ease-in;
}
