@import "../../App.scss";

.images {
  display: flex;
  gap: 4px;
  padding: 8px 9px;

  :nth-child(2) {
    .images__block-item {
      border: $primaryBorder;
      background-color: transparent;
      box-shadow: none;
      &:hover {
        border: $whiteBorder;
      }
    }
  }

  &__block {
    position: relative;

    &-item {
      padding: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
      border: 2px solid $lightBlack;

      &:hover {
        border: $whiteBorder;
      }
    }

    &-icon {
      width: 22px;
      height: 22px;
      padding: 0;
      position: absolute;
      top: -7px;
      left: 24px;
    }

    .active {
      border: $secondaryBorder;
    }
  }

  &-reset-icon {
    width: 22px;
    height: 22px;
    padding: 0;
    position: absolute;
    z-index: 1;
    bottom: 24px;
    left: 20px;
    &:hover {
      background-color: initial;
      border-radius: 0;
    }
  }
}