@import "../../../App.scss";

.note__block {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 50px;

  &-item {
    margin-left: 60px;
  }

  &-title {
    margin: 0 0 15px 10px;
    color: #9aa0a6;
    letter-spacing: .8px;
    font-size: .6875rem;
    font-weight: 600;
    line-height: 1rem;
    text-transform: uppercase;
  }

  .note__columnBlock-item {
    width: 600px;
    margin: 0 auto;

    .note__list {
      margin: 0;
    }
  }
}

.note__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  &-item {
    position: relative;
    min-height: 145px;
    height: 100%;
    border: $primaryBorder;
    border-radius: 8px;
    cursor: pointer;
    transition: .2s linear;
    box-shadow: $boxShadow;
    padding: 16px 20px 30px;

    .some_class {
      display: none;
    }

    .item-header {
      margin: 0;
      font-size: 18px;
      font-weight: 800;
    }

    .item-text {
      margin: 15px 0;
      font-size: 14px;
      white-space: pre-line;
      line-height: 1.5;
    }

    &:hover {
      box-shadow: $boxShadow;

      .note__item-tools {
        display: block;
        transition: .3s linear opacity;
        opacity: 1;
      }
    }
  }

}

.note__item-tools {
  opacity: 0;
  transition: .3s linear opacity;
  position: absolute;
  width: 281px;
  height: inherit;
  top: 0;
  left: 0;

  .tools__icons-pin {
    position: absolute;
    top: 1px;
    right: 1px;
  }

  .tools__icons-less {
    position: absolute;
    bottom: 0;
    left: 4px;
  }
}