@import "../../App.scss";

.colors {
  display: flex;
  gap: 6px;
  padding: 8px 9px;

  :nth-child(2) {
    .colors__block-item {
      border: $primaryBorder;
      box-shadow: none;
      &:hover {
        border: $whiteBorder;
      }
    }
  }

  &__block {
    position: relative;

    &-item {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      cursor: pointer;
      border: 2px solid $lightBlack;
      box-shadow: inset -2px 4px rgb(0 0 0 / 25%);

      &:hover {
        border: $whiteBorder;
      }
    }

    &-icon {
      width: 20px;
      height: 20px;
      padding: 0;
      position: absolute;
      top: -5px;
      left: 18px;
    }

    .active {
      border: $secondaryBorder;
    }
  }

  &-reset-icon {
    width: 18px;
    height: 18px;
    padding: 0;
    position: absolute;
    top: 15px;
    left: 17px;
    &:hover {
      background-color: initial;
      border-radius: 0;
    }
  }
}